{% extends "template.twig" %}

{% block conteudo %}

    {% for mens in Message %}
        <div class="alert alert-danger" role="alert">
            <ul>{{ mens }}</ul>
        </div>
    {% endfor%}

    {#{% form_theme form 'bootstrap_3_layout.html.twig' %} #}
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
