{% extends "template.twig" %}

{% block conteudo %}

    {% for mens in Message %}
        <div class="alert alert-danger" role="alert">
            <ul>{{ mens }}</ul>
        </div>
    {% endfor%}

    <form class="form-horizontal" method="POST" action="{{ path('produto_novo') }}">
        <div class="form-group">
            <label for="nome" class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-4">
                <input type="text" name="nome" class="form-control" id="nome" placeholder="Nome">
            </div>
        </div>
        <div class="form-group">
            <label for="descricao" class="col-sm-2 control-label">Descricao</label>
            <div class="col-sm-6">
                <input type="text" name="descricao" class="form-control" id="descricao" placeholder="Descricao">
            </div>
        </div>
        <div class="form-group">
            <label for="valor" class="col-sm-2 control-label">Valor</label>
            <div class="col-sm-2">
                <input type="text" name="valor" class="form-control" id="valor" placeholder="Valor">
            </div>
        </div>
        <div class="form-group">
            <label for="categoria" class="col-sm-2 control-label">Categoria</label>
            <div class="col-sm-2">
                <select name="categoria" class="form-control">
                    {% for categoria in categorias %}
                        <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
                    {% endfor%}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">	
            </div>
            <div class="col-sm-4">
                <select name="tags_disponiveis" id="tags_disponiveis" multiple="multiple" style="width: 100%; height: 130px;" onClick="return false"	onDblClick="moveSelectedOptions(this.form['tags_disponiveis'], this.form['tags_selecionadas'], true, this.form['tags'].value)">
                    {% for tag in tags %}
                        <option  value="{{tag.id}}">{{tag.nome}}</option>
                    {% endfor%}
                </select>
            </div>
            <div class="col-sm-1">
                <input type="hidden" id="tags" name="tags">	
                <INPUT TYPE="button" style="width:48px" class="btn btn-default" VALUE=">" title="Seleciona Item" ONCLICK="moveSelectedOptions(this.form['tags_disponiveis'], this.form['tags_selecionadas'], true, this.form['tags'].value)"><br>
                <INPUT TYPE="button" style="width:48px" class="btn btn-default" VALUE=">>" title="Seleciona Todos" ONCLICK="moveAllOptions(this.form['tags_disponiveis'], this.form['tags_selecionadas'], true, this.form['tags'].value)"><br>
                <INPUT TYPE="button" style="width:48px" class="btn btn-default" VALUE="<" title="Remover Item" ONCLICK="moveSelectedOptions(this.form['tags_selecionadas'], this.form['tags_disponiveis'], true, this.form['tags'].value)"><br>
                <INPUT TYPE="button" style="width:48px" class="btn btn-default" VALUE="<<" title="Remover Todos" ONCLICK="moveAllOptions(this.form['tags_selecionadas'], this.form['tags_disponiveis'], true, this.form['tags'].value)"><br>	
            </div>

            <div class="col-sm-4">
                <select name="tags_selecionadas" id="tags_selecionadas" multiple="multiple" style="width: 100%; height: 130px;" onDblClick="moveSelectedOptions(this.form['tags_selecionadas'], this.form['tags_disponiveis'], true, this.form['tags'].value)">

                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" onclick="document.getElementById('tags').value = getValuesFromSelect(document.getElementById('tags_selecionadas'))" class="btn btn-default">Cadastrar</button>
            </div>
        </div>
    </form>
{% endblock %}
